<div class="topnav mb-5">
    <a class="active" href="home">Início</a>
    <a href="calendar">Calendário</a>
    <a href="register">Registrar</a>
    <a href="about">Sobre</a>
</div>
<h2>
    Fundação
</h2>
<p class = >
    Fundada em 2020, a Igreja Presbiteriana de Altiplano
     é uma igreja de corações amigos e braços abertos.
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
     Nullam eu sodales ligula, fermentum sollicitudin turpis. 
     Fusce tincidunt enim ut diam finibus, nec commodo enim aliquam. 
     Morbi vel massa eu purus aliquam convallis. 
     Cras viverra sed erat in maximus. 
     Praesent porta tellus eu rutrum placerat. 
     Etiam et quam enim. 
     Quisque ut iaculis mauris. 
     Pellentesque iaculis nulla quam, ac consectetur ex finibus at. 
     Ut et ipsum tellus. Vivamus varius eu urna id feugiat. 
     Maecenas tristique molestie mattis. 
     In ultrices, neque sit amet efficitur bibendum, mi tellus iaculis quam, at bibendum elit leo nec mi.

</p>
<div class="text-center ">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>
        Endereço: R. Severino Garcia Galvão - Cabo Branco, João Pessoa - PB, 58045-205
    </p>
</div>